<!DOCTYPE html>
<html class="borderbox">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Expires" content="0">
        <meta http-equiv="pragram" content="no-cache">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="Cache" content="no-cache">
        <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
        <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <div id="app"></div>
        <script type="text/javascript" src="./resources/js/configs.js"></script>
        <script type="text/javascript" src="./resources/js/base.dll.js"></script>
    </body>
    <script type="text/javascript" src="./resources/js/RSA.min.js"></script>
    <script type="text/javascript" src="https://ssl.captcha.qq.com/TCaptcha.js"></script>
</html>
